<template>
    <div class="bancor">
        <div class="content bancor-inner">
            <el-row>
                <el-col :span="12" class="bancor-left hide-left">
                    <div class="bancor-top text-right">
                        {{$t('message.solutionBancorViewLeft0101')}}<br>
                        {{$t('message.solutionBancorViewLeft0102')}}<br>
                        {{$t('message.solutionBancorViewLeft0103')}}
                    </div>
                    <div class="bancor-middle text-right cc-pink">
                        {{$t('message.solutionBancorViewLeft0201')}}{{$t('message.solutionBancorViewLeft0202')}}{{$t('message.solutionBancorViewLeft0203')}}
                        <span>{{$t('message.solutionBancorViewLeft0201-en').toUpperCase()}}</span>
                        <span>{{$t('message.solutionBancorViewLeft0202-en').toUpperCase()}}</span>
                        <span>{{$t('message.solutionBancorViewLeft0203-en').toUpperCase()}}</span>
                    </div>
                    <div class="bancor-bottom text-right">
                        {{$t('message.solutionBancorViewLeft03')}}
                    </div></el-col>
                <el-col :span="12" class="bancor-right hide-right">
                    <img src="@/assets/images/model.jpg" class="bancor-img" alt=""></el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default {
        name:'bancor'

    }
</script>
