<template>
    <div id="cubecart">
        <div class="content">
            <el-dialog class="play-box" :visible.sync="seen" width="50%">
                <b>video</b>
            </el-dialog>
            <div class="title text-center">
                {{$t('message.homeCubecartView01')}}
            </div>
            <el-row>
                <el-col :span="12">
                    <div class="video hide-left">
                        <div class="play-btn" @click="seen=true"><img src="@/assets/images/play.png" alt=""></div>
                    </div>
                </el-col>
                <el-col :span="12" class="text-left video-text hide-right">
                    <h3>{{$t('message.homeCubecartView0201')}}<br>{{$t('message.homeCubecartView0202')}}<br>{{$t('message.homeCubecartView0203')}}</h3>
                    <div class="wallet-info-list">
                            <el-row class="item">
                                <el-col :span="4">
                                    <div class="side-chain wallet-icons"></div>
                                </el-col>
                                <el-col :span="20">
                                    <p>{{$t('message.homeCubecartView0301')}}<span>{{$t('message.homeCubecartView0302')}}</span>{{$t('message.homeCubecartView0303')}}</p>
                                </el-col>
                            </el-row>
                        <el-row class="item">
                            <el-col :span="4">
                                <div class="saas wallet-icons"></div>
                            </el-col>
                            <el-col :span="20">
                                <p>{{$t('message.homeCubecartView0401')}}<span>{{$t('message.homeCubecartView0402')}}</span>{{$t('message.homeCubecartView0403')}}</p>
                            </el-col>
                        </el-row>
                        <el-row class="item">
                            <el-col :span="4">
                                <div class="digital wallet-icons"></div>
                            </el-col>
                            <el-col :span="20">
                                <p>{{$t('message.homeCubecartView0501')}}<span>{{$t('message.homeCubecartView0502')}}</span>{{$t('message.homeCubecartView0503')}}</p>
                            </el-col>
                        </el-row>

                        <div class="whitepaper-btn">
                            <div @click="$store.commit('DOWNLOADWP')" class="cc-btn">{{$t('message.homeCubecartButton')}}</div>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default {
        name: "cubecart",
        data() {
            return {
                seen: false
            }
        }
    }
</script>
