<template>
    <div id="mfooter">
        <div class="content">
            <el-row justify="center">
                <el-col :span="12" class="text-left">ALL RIGHTS RESERVED © CUBECART.IO 2018</el-col>
                <el-col :span="12" class="text-right social">
                    <a href="#">
                        <img src="@/assets/images/telegram.png" width="48" height="48" alt="">
                    </a>
                    <a href="#">
                        <img src="@/assets/images/facebook.png" width="48" height="48" alt="">
                    </a>
                    <a href="#">
                        <img src="@/assets/images/twitter.png" width="48" height="48" alt="">
                    </a>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default {
        name:'mfooter'
    }
</script>
