<template>
    <div class="function">
        <div class="content">
            <div class="title">
                {{ $t('message.solutionSystemView01') }}
            </div>
            <el-row class="function-item hide-left">
                <el-col :span="8">
                    <img src="@/assets/images/function-1.png" alt="">
                    <p>{{ $t('message.solutionSystemView02') }}</p>
                </el-col>
                <el-col :span="8">
                    <img src="@/assets/images/function-2.png" alt="">
                    <p>{{ $t('message.solutionSystemView03') }}</p>
                </el-col>
                <el-col :span="8">
                    <img src="@/assets/images/function-3.png" alt="">
                    <p>{{ $t('message.solutionSystemView04') }}</p>
                </el-col>
            </el-row>
                <el-row class="function-item hide-right">
                <el-col :span="8">
                    <img src="@/assets/images/function-4.png" alt="">
                    <p>{{ $t('message.solutionSystemView05') }}</p>
                </el-col>
                <el-col :span="8">
                    <img src="@/assets/images/function-5.png" alt="">
                    <p>{{ $t('message.solutionSystemView06') }}</p>
                </el-col>
                <el-col :span="8">
                    <img src="@/assets/images/function-6.png" alt="">
                    <p>{{ $t('message.solutionSystemView07') }}</p>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default {
        name:'function'
    }
</script>
