<template>
  <div id="mheader" ref="header">
    <div class="content">
      <el-row justify="space-between">
        <el-col :span="4">
          <div class="logo">
            <img src="../assets/images/logo.png" alt="">
          </div>
        </el-col>
        <el-col :span="20">
          <Mnav></Mnav>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
  // @ is an alias to /src
  import Mnav from "@/components/Nav"

  export default {
    name: 'mheader',
    components: {
      Mnav
    },
    mounted() {
      window.onscroll = () => {
        let top = document.documentElement.scrollTop || document.body.scrollTop;

        let solution = document.getElementById('solution').offsetTop - 20;
        let roadmap = document.getElementById('roadmap').offsetTop - 20;
        let team = document.getElementById('team').offsetTop - 180;
        if (top >= 100) {
          this.$refs['header'].className = 'fixed';
        } else {
          this.$refs['header'].className = '';
        }

        if (top == 0 || top < team) {
          this.setNav(0)
        }
        if (top > solution) {
          this.setNav(1)
        }
        if (top > roadmap) {
          this.setNav(2)
        }
        if (top > team) {
          this.setNav(3)
        }
        if (top > 750) {
          let walletPic = Array.from(document.getElementsByClassName('wallet-pic'))
          let walletIntro = Array.from(document.getElementsByClassName('wallet-intro'))
          walletPic[0].classList.add('show')
          walletIntro[0].classList.add('show')
        }
        if (top > 1350) {
          let video = Array.from(document.getElementsByClassName('video'))
          let videoTxt = Array.from(document.getElementsByClassName('video-text'))
          video[0].classList.add('show')
          videoTxt[0].classList.add('show')
        }
        if (top > 2550) {
          let works = Array.from(document.getElementsByClassName('works'))
          let wl = Array.from(document.getElementsByClassName('work-Lt'))
          let wr = Array.from(document.getElementsByClassName('work-Rt'))
          works[0].classList.add('show')
          wl[0].classList.remove('hide-left')
          wr[0].classList.remove('hide-right')
        }
        if (top > 3550) {
          let bancorL = Array.from(document.getElementsByClassName('bancor-left'))
          let bancorR = Array.from(document.getElementsByClassName('bancor-right'))
          bancorL[0].classList.add('show')
          bancorR[0].classList.add('show')
        }
        if (top > 4550) {
          let plugBg = Array.from(document.getElementsByClassName('plug-bg'))
          let slot = Array.from(document.getElementsByClassName('slot'))
          let slotText = Array.from(document.getElementsByClassName('slot-text'))
          slot.forEach(item=>{
            item.classList.add('explode')
          })
          slotText[0].classList.add('show')
          plugBg[0].classList.add('show')
        }
        if (top > 5550) {
          let func = Array.from(document.getElementsByClassName('function-item'))
          func.forEach(item=>{
            item.classList.add('show')
          })
        }
        if (top > 6550) {
          let roadmap = Array.from(document.getElementsByClassName('roadmap-list'))

            roadmap[0].classList.add('show')
        }
      }
    },
    methods: {
      setNav(index) {
        let lis = document.getElementById('mnav').childNodes[0].childNodes;
        for (let i = 0; i < lis.length; i++) {
          lis[i].className = '';
        }
        lis[index].className = 'active';

      }
    }

  }
</script>
