<template>
    <div class="plug">
        <div class="content">
            <div class="title text-center">{{$t('message.solutionPlugView01')}}</div>
            <div class="slots" :span="10">
                    <div class="slot"><img src="../assets/images/slot1.png" alt=""></div>
                    <div class="slot"><img src="../assets/images/slot2.png" alt=""></div>
                    <div class="slot"><img src="../assets/images/slot3.png" alt=""></div>
                    <h1 class="slot-text hide-left">
                        {{ $t('message.solutionPlugViewLeft01') + $t('message.solutionPlugViewLeft02') }}<br>
                        {{$t('message.solutionPlugViewLeft03')}}
                    </h1>
                </div>
            <el-row class="plug-bg hide-bottom">
                <el-col :span="8">
                    <div class="item">
                        <el-row>
                            <el-col :span="10">
                                <img src="../assets/images/plug-1.png" alt="">
                            </el-col>
                            <el-col :span="14">
                                <b>{{$t('message.solutionPlugViewRight0101')}}</b>
                                <p>
                                    {{$t('message.solutionPlugViewRight0102')}}<br>
                                    {{$t('message.solutionPlugViewRight0103')}}<br>
                                    {{$t('message.solutionPlugViewRight0104')}}<br>
                                    {{$t('message.solutionPlugViewRight0105')}}<br>
                                    {{$t('message.solutionPlugViewRight0106')}}<br>
                                    {{$t('message.solutionPlugViewRight0107')}}<br>
                                    {{$t('message.solutionPlugViewRight0108')}}
                                </p>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="item">
                        <el-row>
                            <el-col :span="10">
                                <img src="../assets/images/plug-2.png" alt="">
                            </el-col>
                            <el-col :span="14">
                                <b>{{$t('message.solutionPlugViewRight0201')}}</b>
                                <p>
                                    {{$t('message.solutionPlugViewRight0202')}}<br>
                                    {{$t('message.solutionPlugViewRight0203')}}<br>
                                    {{$t('message.solutionPlugViewRight0204')}}<br>
                                    {{$t('message.solutionPlugViewRight0205')}}<br>
                                    {{$t('message.solutionPlugViewRight0206')}}<br>
                                    {{$t('message.solutionPlugViewRight0207')}}<br>
                                    {{$t('message.solutionPlugViewRight0208')}}
                                </p>
                            </el-col>
                        </el-row>
                    </div>
                </el-col>
                <el-col :span="8">
                    <div class="item">
                        <el-row>
                            <el-col :span="10">
                                <img src="../assets/images/plug-3.png" alt="">
                            </el-col>
                            <el-col :span="14">
                                <b>{{$t('message.solutionPlugViewRight0301')}}</b>
                                <p>
                                    {{$t('message.solutionPlugViewRight0202')}}<br>
                                    {{$t('message.solutionPlugViewRight0203')}}<br>
                                    {{$t('message.solutionPlugViewRight0204')}}<br>
                                    {{$t('message.solutionPlugViewRight0205')}}<br>
                                    {{$t('message.solutionPlugViewRight0206')}}<br>
                                    {{$t('message.solutionPlugViewRight0207')}}<br>
                                    {{$t('message.solutionPlugViewRight0208')}}<br>
                                </p>
                            </el-col>
                        </el-row>
                </div>
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default {
        name:'bancor'

    }
</script>
