<template>
    <div id="team">
        <div class="content">
            <div class="title text-center">{{$t('message.teamViewTitle')}}</div>
            <el-row>
                <el-col :span="6">
                    <el-popover
                        width="300"
                        trigger="hover"
                        placement="top"
                    >
                        <p>{{$t('message.teamViewContentShow01')}}</p>
                        <img slot="reference" src="../assets/images/team1.png" alt="">

                    </el-popover>
                    <h4>{{$t('message.teamViewContentName01')}}</h4>
                    <h5>{{$t('message.teamViewContentSchool01')}}</h5>
                    <span>{{$t('message.teamViewContentProfessional01')}}</span>
                </el-col>
                <el-col :span="6">
                    <el-popover
                            width="300"
                            trigger="hover"
                            placement="top"
                    >
                        <p>{{$t('message.teamViewContentShow02')}}</p>
                        <img slot="reference" src="../assets/images/team4.png" alt="">

                    </el-popover>
                    <h4>{{$t('message.teamViewContentName02')}}</h4>
                    <h5>{{$t('message.teamViewContentSchool02')}}</h5>
                    <span>{{$t('message.teamViewContentProfessional02')}}</span>
                </el-col>
                <el-col :span="6">
                    <el-popover
                            width="300"
                            trigger="hover"
                            placement="top"
                    >
                        <p>{{$t('message.teamViewContentShow03')}}</p>
                        <img slot="reference" src="../assets/images/team3.png" alt="">

                    </el-popover>
                    <h4>{{$t('message.teamViewContentName03')}}</h4>
                    <h5>{{$t('message.teamViewContentSchool03')}}</h5>
                    <span>{{$t('message.teamViewContentProfessional03')}}</span>
                </el-col>
                <el-col :span="6">
                    <el-popover
                            width="300"
                            trigger="hover"
                            placement="top"
                    >
                        <p>{{$t('message.teamViewContentShow04')}}</p>
                        <img slot="reference" src="../assets/images/team2.png" alt="">

                    </el-popover>
                    <h4>{{$t('message.teamViewContentName04')}}</h4>
                    <h5>{{$t('message.teamViewContentSchool04')}}</h5>
                    <span>{{$t('message.teamViewContentProfessional04')}}</span>
                </el-col>
            </el-row>
            <!--<div class="title text-center investor">-->
                <!--OUR INVESTOR-->
            <!--</div>-->
            <!--<el-row>-->
                <!--<el-col :span="8">-->
                    <!--<img src="@/assets/images/JIC-CAPITAL.jpg" alt="">-->
                    <!--<h4>JIC CAPITAL</h4>-->
                <!--</el-col>-->
                <!--<el-col :span="8">-->
                    <!--<img src="@/assets/images/UNBOUNDED-CAPITAL.jpg" alt="">-->
                    <!--<h4>UNBOUNDED CAPITAL</h4>-->
                <!--</el-col>-->
                <!--<el-col :span="8">-->
                    <!--<img src="@/assets/images/MIF-CAPITAL.jpg" alt="">-->
                    <!--<h4>MIF CAPITAL</h4>-->
                <!--</el-col>-->
            <!--</el-row>-->
        </div>
    </div>
</template>
<script>
    export default{
        name:"team",
        data(){
            return{
                show1:false,
                show2:false,
                show3:false,
                show4:false,
            }
        }
    }
</script>
