<template>
  <div id="wallet">
    <div class="content">
      <div class="cube-swap">
        <div class="swap-head">
          <div class="head-left">
            <el-row>
              <el-col :span="8" class="head-icon"><img src="../assets/images/eos_active.png" alt=""></el-col>
              <el-col :span="8" class="head-info">
                <span class="cc-blue">{{ $t('message.homeWalletView01') }}</span>
                <span class="cc-pink">{{ $t('message.homeWalletView02') }}</span>
              </el-col>
              <el-col :span="8" class="head-eos">
                <countTo class="countNum" :start-val="0" :end-val="150000" :duration="2000"/>
                <b>EOS</b>
              </el-col>
            </el-row>
          </div>
          <div class="head-right">
            <span>12% CRR</span>
          </div>
        </div>
        <div class="ibo">
          <div class="progress">
            <el-row class="progress-amount">
              <el-col :span="5" class="cc-pink text-left">0 EOS</el-col>
              <el-col :span="5" class="cc-pink text-left">2,000,000 EOS</el-col>
              <el-col :span="14" class="cc-pink">{{$t('message.homeWalletView03')}} 16,666,666.6666 CBT</el-col>
            </el-row>
            <div class="progress-box">
              <div class="progress-bar" ref="bar"></div>
            </div>
          </div>
          <div class="ibo-info">
            <span class="title">IBO</span>
            <div class="ibo-main">
              <el-row>
                <el-col :span="8">
                  <img src="../assets/images/eos_logo.png" alt="">
                  <p>EOS</p>
                </el-col>
                <el-col :span="8">
                  <img src="../assets/images/swap_token.png" alt="">
                </el-col>
                <el-col :span="8">
                  <img src="../assets/images/cubecart_logo.png" alt="">
                  <p>CBT</p></el-col>
              </el-row>
            </div>
            <div class="ibo-foot">
              <el-row>
                <el-col :span="8">1</el-col>
                <el-col :span="8">:</el-col>
                <el-col :span="8">12</el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>
      <div class="wallet-intro hide-left">
        <h3 class="text-left">{{$t('message.homeWalletView04')}}</h3>
        <p class="text-left">{{$t('message.homeWalletView05')}}</p>
        <div class="wallet-btn-box">
          <a href="https://fir.im/ujfm" class="ios-download" target="_blank">
          </a>
          <a href="files/cubewallet.apk" class="android-download" target="_blank">
          </a>
        </div>
      </div>
      <div class="wallet-pic hide-right">
        <div class="mac">
          <img src="../assets/images/mac-wallet.png" alt="">
        </div>
        <div class="iphone">
          <img src="../assets/images/iphone-wallet.png" alt="">
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  import countTo from 'vue-count-to'

  export default {
    name: "wallet",
    components: {
      countTo
    },
    data() {
      return {}
    },
    mounted() {
      setTimeout(() => {
        this.$refs.bar.style = "width:200px;"
      }, 500)
    }
  }
</script>
