<template>
    <div id="solution" class="work works">
        <div class="content">
            <div class="title text-center">{{$t('message.solutionWorkView01')}}</div>
            <el-row class="work-box">
                <el-col :span="8" class="work-Lt hide-left">
                    <img src="../assets/images/worksLtext.png" alt="">
                </el-col>
                <el-col :span="8" class="work-bp">
                    <img src="../assets/images/worksBp.png" alt="">
                </el-col>
                <el-col :span="8" class="work-Rt hide-right">
                    <img src="../assets/images/worksRtext.png" alt="">
                </el-col>
            </el-row>
        </div>
    </div>
</template>
<script>
    export default{
        name:"work",
        data(){
            return{
                seen:false
            }
        }
    }
</script>
